{
  "bootstrap": true,
  "data_dir": "{{ consul.data_dir | default('/tmp/consul')}}",
  "datacenter": "{{ consul.datacenter | default('dc1')}}",
  "enable_syslog": true,
  "encrypt": "2M2aASKoKGek05TjpHczuw==",
  "log_level": "{{  consul.log_level | default('info')}}",
  "node_name": "{{ consul.node_name | default(inventory_hostname)}}",
  "server": true,
  "ui_dir": "{{ consul.ui_dir | default('/tmp/dist')}}"
}
