{
  "data_dir": "{{ consul.data_dir | default('/tmp/consul')}}",
  "datacenter": "{{ consul.datacenter | default('dc1')}}",
  "enable_syslog": true,
  "encrypt": "2M2aASKoKGek05TjpHczuw==",
  "log_level": "{{  consul.log_level | default('info')}}",
  "node_name": "{{ consul.node_name | default(inventory_hostname)}}",
  "server": false,
  "start_join": [{% for host in groups['consul-bootstrap'] %}"{{ hostvars[host]['ansible_' + 'eth0']['ipv4']['address'] }}{% endfor %}"],
  "ui_dir": "{{ consul.ui_dir | default('/tmp/dist')}}",
  "bind_addr": "0.0.0.0"
}
