{
  "bootstrap_expect": {{ consul_bootstrap_expect }},
  "data_dir": "{{ consul.data_dir }}",
  "datacenter": "{{ consul.datacenter }}",
  "enable_syslog": true,
  {% if consul.encrypt_key != 'none' %}
  "encrypt": "{{ consul.encrypt_key }}",
  {% endif %}
  "log_level": "{{  consul.log_level }}",
  "node_name": "{{ inventory_hostname }}",
  "server": true,
  "ui_dir": "{{ consul.ui_dir }}"
}
