{
  "bootstrap_expect": true,
  "data_dir": "{{ consul.data_dir }}",
  "datacenter": "{{ consul.datacenter }}",
  "enable_syslog": true,
  "encrypt": "{{ consul.encrypt_key }}",
  "log_level": "{{  consul.log_level }}",
  "node_name": "{{ consul.node_name }}",
  "server": true,
  "ui_dir": "{{ consul.ui_dir }}"
}
